# Flutter
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android
**/android/app/libs/
**/android/idea/
**/android/gradle/
**/android/.gradle/
**/android/build/
**/android/local.properties

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.idea/
.vscode/

# Misc
*.log
.DS_Store
